body{
    background-image: url('../src/images/black-dark-blue-premium-abstract-background-with-luxury.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
